<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo_icon">
      AIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #scrollMe padding>
    
  <div class="message-wrap">

    <div *ngFor="let msg of msgList"
         class="message"
         [class.left]=" msg.userId === toUser.id "
         [class.right]=" msg.userId === user.id ">
      <img class="user-img" [src]="msg.userAvatar" alt="" src="">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>


    <div scrollX="true" direction="x">

        <ion-badge item-end>Preencher OP</ion-badge>
        <ion-badge item-end>Preencher Cliente</ion-badge>
        <ion-badge item-end>Preencher Escopo</ion-badge>

    </div>

  <ion-toolbar>
    <ion-item>
      <ion-input class="input" #chat_input
      placeholder=""
      [(ngModel)]="editorMsg"
      (keyup.enter)="sendMsg()"></ion-input>

      <ion-icon slot="end" color="medium" name="mic" *ngIf="!isRecording" (click) = "startListening()"></ion-icon>
      <ion-icon slot="end" color="medium" name="mic-off" *ngIf="isRecording" (click) = "stopListening()"></ion-icon>

    </ion-item>
  </ion-toolbar>
</ion-footer>
